<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="interface: //Publico&#xD;&#xA;&#xD;&#xA;in event evModo&#xD;&#xA;in event evEstado&#xD;&#xA;in event evPuertaAbierta&#xD;&#xA;in event evPuertaCerrada&#xD;&#xA;&#xD;&#xA;operation opModo(State:integer): void&#xD;&#xA;&#xD;&#xA;const cMODO1: integer = 0&#xD;&#xA;const cMODO2: integer = 1&#xD;&#xA;const cMODO3: integer = 2&#xD;&#xA;&#xD;&#xA;internal: //Interno del modelo&#xD;&#xA;&#xD;&#xA;var varEstadoPuerta: boolean" name="model">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="Modo">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_6_VS8B-_EeuCRcMwmpACNQ" specification="" target="_yx3r4ByWEeuuH_7MyLvB7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yx3r4ByWEeuuH_7MyLvB7A" specification="entry / opModo(cMODO1)" name="MODO1" incomingTransitions="_6_VS8B-_EeuCRcMwmpACNQ _GDBp4B_AEeuCRcMwmpACNQ">
        <outgoingTransitions xmi:id="_-r9VsB-_EeuCRcMwmpACNQ" specification="evModo" target="_If4E4ByhEeuuH_7MyLvB7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yt_4gByWEeuuH_7MyLvB7A" specification="entry / opModo(cMODO3)" name="MODO3" incomingTransitions="__K7wsB-_EeuCRcMwmpACNQ">
        <outgoingTransitions xmi:id="_GDBp4B_AEeuCRcMwmpACNQ" specification="evModo" target="_yx3r4ByWEeuuH_7MyLvB7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_If4E4ByhEeuuH_7MyLvB7A" specification="entry / opModo(cMODO2)" name="MODO2" incomingTransitions="_-r9VsB-_EeuCRcMwmpACNQ">
        <outgoingTransitions xmi:id="__K7wsB-_EeuCRcMwmpACNQ" specification="evModo" target="_yt_4gByWEeuuH_7MyLvB7A"/>
      </vertices>
    </regions>
    <regions xmi:id="_hX8gECUEEeu7rMKxbWBY8Q" name="Copy_1_Estado">
      <vertices xsi:type="sgraph:Entry" xmi:id="_hX8gESUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hX8gEiUEEeu7rMKxbWBY8Q" specification="" target="_hX8gEyUEEeu7rMKxbWBY8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hX8gEyUEEeu7rMKxbWBY8Q" specification="" name="APAGADO" incomingTransitions="_hX8gEiUEEeu7rMKxbWBY8Q _hX9uMCUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hX9HISUEEeu7rMKxbWBY8Q" specification="evEstado [varEstadoPuerta == false]" target="_hX9HKiUEEeu7rMKxbWBY8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hX9HKiUEEeu7rMKxbWBY8Q" specification="" name="ENCENDIDO" incomingTransitions="_hX9HISUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hX9uMCUEEeu7rMKxbWBY8Q" specification="evEstado,&#xA;evPuertaAbierta" target="_hX8gEyUEEeu7rMKxbWBY8Q"/>
      </vertices>
    </regions>
    <regions xmi:id="_hX_jYCUEEeu7rMKxbWBY8Q" name="Copy_1_Puerta">
      <vertices xsi:type="sgraph:Entry" xmi:id="_hX_jYSUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hX_jYiUEEeu7rMKxbWBY8Q" specification="" target="_hX_jYyUEEeu7rMKxbWBY8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hX_jYyUEEeu7rMKxbWBY8Q" specification="entry / varEstadoPuerta = false" name="CERRADA" incomingTransitions="_hX_jYiUEEeu7rMKxbWBY8Q _hYAKfiUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hYAKcCUEEeu7rMKxbWBY8Q" specification="evPuertaAbierta" target="_hYAKdCUEEeu7rMKxbWBY8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hYAKdCUEEeu7rMKxbWBY8Q" specification="entry / varEstadoPuerta = true" name="ABIERTA" incomingTransitions="_hYAKcCUEEeu7rMKxbWBY8Q">
        <outgoingTransitions xmi:id="_hYAKfiUEEeu7rMKxbWBY8Q" specification="evPuertaCerrada" target="_hX_jYyUEEeu7rMKxbWBY8Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xmi:id="_IPEiBI_CEeaE_NItBGtDFQ" type="Region" element="_IPEiA4_CEeaE_NItBGtDFQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPEiB4_CEeaE_NItBGtDFQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiCI_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiCY_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPEiCo_CEeaE_NItBGtDFQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_IPEiDo_CEeaE_NItBGtDFQ" type="Entry" element="_IPEiDY_CEeaE_NItBGtDFQ">
          <children xmi:id="_IPEiEY_CEeaE_NItBGtDFQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IPEiFI_CEeaE_NItBGtDFQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiFY_CEeaE_NItBGtDFQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiFo_CEeaE_NItBGtDFQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiEo_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiE4_CEeaE_NItBGtDFQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiD4_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiF4_CEeaE_NItBGtDFQ" x="19" y="4" width="15" height="15"/>
        </children>
        <children xmi:id="_yx2dwByWEeuuH_7MyLvB7A" type="State" element="_yx3r4ByWEeuuH_7MyLvB7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_yx2dwRyWEeuuH_7MyLvB7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yx2dwhyWEeuuH_7MyLvB7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yx2dwxyWEeuuH_7MyLvB7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yx2dxByWEeuuH_7MyLvB7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yx2dxRyWEeuuH_7MyLvB7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yx2dxhyWEeuuH_7MyLvB7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yx2dxxyWEeuuH_7MyLvB7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yx2dyByWEeuuH_7MyLvB7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yx2dyRyWEeuuH_7MyLvB7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yx2dyhyWEeuuH_7MyLvB7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yx2dyxyWEeuuH_7MyLvB7A" x="160" y="57" width="226" height="66"/>
        </children>
        <children xmi:id="_yt81MByWEeuuH_7MyLvB7A" type="State" element="_yt_4gByWEeuuH_7MyLvB7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_yt81MRyWEeuuH_7MyLvB7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt81MhyWEeuuH_7MyLvB7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yt81MxyWEeuuH_7MyLvB7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt81NByWEeuuH_7MyLvB7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yt81NRyWEeuuH_7MyLvB7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt81NhyWEeuuH_7MyLvB7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt81NxyWEeuuH_7MyLvB7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt81OByWEeuuH_7MyLvB7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yt81ORyWEeuuH_7MyLvB7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt81OhyWEeuuH_7MyLvB7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt81OxyWEeuuH_7MyLvB7A" x="33" y="178" width="226" height="65"/>
        </children>
        <children xmi:id="_If5TAByhEeuuH_7MyLvB7A" type="State" element="_If4E4ByhEeuuH_7MyLvB7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_If5TBByhEeuuH_7MyLvB7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_If5TBRyhEeuuH_7MyLvB7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_If5TBhyhEeuuH_7MyLvB7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_If56EByhEeuuH_7MyLvB7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_If56ERyhEeuuH_7MyLvB7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_If56EhyhEeuuH_7MyLvB7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_If56ExyhEeuuH_7MyLvB7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_If5TARyhEeuuH_7MyLvB7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_If5TAhyhEeuuH_7MyLvB7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_If56FByhEeuuH_7MyLvB7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_If5TAxyhEeuuH_7MyLvB7A" x="304" y="183" width="219" height="60"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiC4_CEeaE_NItBGtDFQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiBY_CEeaE_NItBGtDFQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiDI_CEeaE_NItBGtDFQ" x="495" y="-10" width="574" height="335"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" x="-3" y="-10" width="499" height="611"/>
    </children>
    <children xmi:id="_hX6D0CUEEeu7rMKxbWBY8Q" type="Region" element="_hX8gECUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hX6D0SUEEeu7rMKxbWBY8Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D0iUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hX6D0yUEEeu7rMKxbWBY8Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_hX6D1CUEEeu7rMKxbWBY8Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_hX6D1SUEEeu7rMKxbWBY8Q" type="Entry" element="_hX8gESUEEeu7rMKxbWBY8Q">
          <children xmi:id="_hX6D1iUEEeu7rMKxbWBY8Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_hX6D1yUEEeu7rMKxbWBY8Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D2CUEEeu7rMKxbWBY8Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_hX6D2SUEEeu7rMKxbWBY8Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D2iUEEeu7rMKxbWBY8Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D2yUEEeu7rMKxbWBY8Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D3CUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_hX6D3SUEEeu7rMKxbWBY8Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D3iUEEeu7rMKxbWBY8Q" x="29" y="8"/>
        </children>
        <children xmi:id="_hX6D3yUEEeu7rMKxbWBY8Q" type="State" element="_hX8gEyUEEeu7rMKxbWBY8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_hX6D4CUEEeu7rMKxbWBY8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D4SUEEeu7rMKxbWBY8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hX6D4iUEEeu7rMKxbWBY8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX6D4yUEEeu7rMKxbWBY8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hX6D5CUEEeu7rMKxbWBY8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D5SUEEeu7rMKxbWBY8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX6D5iUEEeu7rMKxbWBY8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D5yUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hX6D6CUEEeu7rMKxbWBY8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hX6D6SUEEeu7rMKxbWBY8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D6iUEEeu7rMKxbWBY8Q" x="106" y="42" width="222" height="55"/>
        </children>
        <children xmi:id="_hX6D6yUEEeu7rMKxbWBY8Q" type="State" element="_hX9HKiUEEeu7rMKxbWBY8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_hX6D7CUEEeu7rMKxbWBY8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D7SUEEeu7rMKxbWBY8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hX6D7iUEEeu7rMKxbWBY8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX6D7yUEEeu7rMKxbWBY8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hX6D8CUEEeu7rMKxbWBY8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D8SUEEeu7rMKxbWBY8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX6D8iUEEeu7rMKxbWBY8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D8yUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hX6D9CUEEeu7rMKxbWBY8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hX6D9SUEEeu7rMKxbWBY8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D9iUEEeu7rMKxbWBY8Q" x="106" y="114" width="222" height="55"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D9yUEEeu7rMKxbWBY8Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_hX6D-CUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX6D-SUEEeu7rMKxbWBY8Q" x="495" y="324" width="449" height="226"/>
    </children>
    <children xmi:id="_hX7R8CUEEeu7rMKxbWBY8Q" type="Region" element="_hX_jYCUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hX7R8SUEEeu7rMKxbWBY8Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7R8iUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hX7R8yUEEeu7rMKxbWBY8Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_hX7R9CUEEeu7rMKxbWBY8Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_hX7R9SUEEeu7rMKxbWBY8Q" type="Entry" element="_hX_jYSUEEeu7rMKxbWBY8Q">
          <children xmi:id="_hX7R9iUEEeu7rMKxbWBY8Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_hX7R9yUEEeu7rMKxbWBY8Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7R-CUEEeu7rMKxbWBY8Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_hX7R-SUEEeu7rMKxbWBY8Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7R-iUEEeu7rMKxbWBY8Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7R-yUEEeu7rMKxbWBY8Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7R_CUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_hX7R_SUEEeu7rMKxbWBY8Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7R_iUEEeu7rMKxbWBY8Q" x="16" y="-3"/>
        </children>
        <children xmi:id="_hX7R_yUEEeu7rMKxbWBY8Q" type="State" element="_hX_jYyUEEeu7rMKxbWBY8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_hX7SACUEEeu7rMKxbWBY8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7SASUEEeu7rMKxbWBY8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hX7SAiUEEeu7rMKxbWBY8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX7SAyUEEeu7rMKxbWBY8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hX7SBCUEEeu7rMKxbWBY8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SBSUEEeu7rMKxbWBY8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX7SBiUEEeu7rMKxbWBY8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7SByUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hX7SCCUEEeu7rMKxbWBY8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hX7SCSUEEeu7rMKxbWBY8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SCiUEEeu7rMKxbWBY8Q" x="120" y="33" width="208" height="55"/>
        </children>
        <children xmi:id="_hX7SCyUEEeu7rMKxbWBY8Q" type="State" element="_hYAKdCUEEeu7rMKxbWBY8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_hX7SDCUEEeu7rMKxbWBY8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7SDSUEEeu7rMKxbWBY8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hX7SDiUEEeu7rMKxbWBY8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX7SDyUEEeu7rMKxbWBY8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hX7SECUEEeu7rMKxbWBY8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SESUEEeu7rMKxbWBY8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hX7SEiUEEeu7rMKxbWBY8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7SEyUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hX7SFCUEEeu7rMKxbWBY8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hX7SFSUEEeu7rMKxbWBY8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SFiUEEeu7rMKxbWBY8Q" x="122" y="105" width="204" height="55"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SFyUEEeu7rMKxbWBY8Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_hX7SGCUEEeu7rMKxbWBY8Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hX7SGSUEEeu7rMKxbWBY8Q" x="495" y="549" width="449" height="226"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <edges xmi:id="_6_XIIB-_EeuCRcMwmpACNQ" type="Transition" element="_6_VS8B-_EeuCRcMwmpACNQ" source="_IPEiDo_CEeaE_NItBGtDFQ" target="_yx2dwByWEeuuH_7MyLvB7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_6_XvMB-_EeuCRcMwmpACNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6_XvMR-_EeuCRcMwmpACNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6_XvMh-_EeuCRcMwmpACNQ" x="-5" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6_XIIR-_EeuCRcMwmpACNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6_XIIx-_EeuCRcMwmpACNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6_XIIh-_EeuCRcMwmpACNQ" points="[6, 1, -250, -48]$[246, 1, -10, -48]$[246, 46, -10, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6_ZkYB-_EeuCRcMwmpACNQ" id="(0.5530973451327433,0.06060606060606061)"/>
    </edges>
    <edges xmi:id="_-r-j0B-_EeuCRcMwmpACNQ" type="Transition" element="_-r9VsB-_EeuCRcMwmpACNQ" source="_yx2dwByWEeuuH_7MyLvB7A" target="_If5TAByhEeuuH_7MyLvB7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_-r-j1B-_EeuCRcMwmpACNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-r-j1R-_EeuCRcMwmpACNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-r-j1h-_EeuCRcMwmpACNQ" x="16" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-r-j0R-_EeuCRcMwmpACNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-r-j0x-_EeuCRcMwmpACNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-r-j0h-_EeuCRcMwmpACNQ" points="[-20, 13, -103, -71]$[-20, 45, -103, -39]$[88, 45, 5, -39]$[88, 78, 5, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-sAZAB-_EeuCRcMwmpACNQ" id="(0.7433628318584071,0.803030303030303)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-sAZAR-_EeuCRcMwmpACNQ" id="(0.4840182648401826,0.11666666666666667)"/>
    </edges>
    <edges xmi:id="__K8XwB-_EeuCRcMwmpACNQ" type="Transition" element="__K7wsB-_EeuCRcMwmpACNQ" source="_If5TAByhEeuuH_7MyLvB7A" target="_yt81MByWEeuuH_7MyLvB7A">
      <children xsi:type="notation:DecorationNode" xmi:id="__K8-0R-_EeuCRcMwmpACNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__K8-0h-_EeuCRcMwmpACNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__K8-0x-_EeuCRcMwmpACNQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__K8XwR-_EeuCRcMwmpACNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__K8-0B-_EeuCRcMwmpACNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__K8Xwh-_EeuCRcMwmpACNQ" points="[0, 10, 55, 3]$[-50, 10, 5, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__K_bEB-_EeuCRcMwmpACNQ" id="(0.0045662100456621,0.35)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__K_bER-_EeuCRcMwmpACNQ" id="(0.9778761061946902,0.5230769230769231)"/>
    </edges>
    <edges xmi:id="_GDCQ8B_AEeuCRcMwmpACNQ" type="Transition" element="_GDBp4B_AEeuCRcMwmpACNQ" source="_yt81MByWEeuuH_7MyLvB7A" target="_yx2dwByWEeuuH_7MyLvB7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_GDCQ9B_AEeuCRcMwmpACNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GDCQ9R_AEeuCRcMwmpACNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GDCQ9h_AEeuCRcMwmpACNQ" x="-7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GDCQ8R_AEeuCRcMwmpACNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GDCQ8x_AEeuCRcMwmpACNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GDCQ8h_AEeuCRcMwmpACNQ" points="[23, -5, -105, 66]$[23, -35, -105, 36]$[118, -35, -10, 36]$[118, -65, -10, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GDDfEB_AEeuCRcMwmpACNQ" id="(0.3938053097345133,0.09230769230769231)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GDDfER_AEeuCRcMwmpACNQ" id="(0.39823008849557523,0.9090909090909091)"/>
    </edges>
    <edges xmi:id="_hYBYkCUEEeu7rMKxbWBY8Q" type="Transition" element="_hX_jYiUEEeu7rMKxbWBY8Q" source="_hX7R9SUEEeu7rMKxbWBY8Q" target="_hX7R_yUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYBYkSUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYBYkiUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYBYkyUEEeu7rMKxbWBY8Q" x="-36" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYBYlCUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYBYlSUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYBYliUEEeu7rMKxbWBY8Q" points="[7, 0, -153, -33]$[191, 0, 31, -33]$[191, 26, 31, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYBYlyUEEeu7rMKxbWBY8Q" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYBYmCUEEeu7rMKxbWBY8Q" id="(0.027732165663200147,0.14545454545454545)"/>
    </edges>
    <edges xmi:id="_hYBYmSUEEeu7rMKxbWBY8Q" type="Transition" element="_hYAKcCUEEeu7rMKxbWBY8Q" source="_hX7R_yUEEeu7rMKxbWBY8Q" target="_hX7SCyUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYBYmiUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYBYmyUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYBYnCUEEeu7rMKxbWBY8Q" x="-6" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYBYnSUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYBYniUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYBYnyUEEeu7rMKxbWBY8Q" points="[122, 0, 130, -78]$[186, 0, 194, -78]$[186, 72, 194, -6]$[120, 72, 128, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYBYoCUEEeu7rMKxbWBY8Q" id="(0.3466520707900018,0.5454545454545454)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYBYoSUEEeu7rMKxbWBY8Q" id="(0.3064706247285812,0.6727272727272726)"/>
    </edges>
    <edges xmi:id="_hYB_oCUEEeu7rMKxbWBY8Q" type="Transition" element="_hYAKfiUEEeu7rMKxbWBY8Q" source="_hX7SCyUEEeu7rMKxbWBY8Q" target="_hX7R_yUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYB_oSUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYB_oiUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYB_oyUEEeu7rMKxbWBY8Q" x="5" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYB_pCUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYB_pSUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYB_piUEEeu7rMKxbWBY8Q" points="[-18, 25, -14, 90]$[-73, 25, -69, 90]$[-73, -69, -69, -4]$[-18, -69, -14, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYB_pyUEEeu7rMKxbWBY8Q" id="(0.09429865376264035,0.05454545454545454)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYB_qCUEEeu7rMKxbWBY8Q" id="(0.06933041415800036,0.6363636363636364)"/>
    </edges>
    <edges xmi:id="_hYB_qSUEEeu7rMKxbWBY8Q" type="Transition" element="_hX8gEiUEEeu7rMKxbWBY8Q" source="_hX6D1SUEEeu7rMKxbWBY8Q" target="_hX6D3yUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYB_qiUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYB_qyUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYB_rCUEEeu7rMKxbWBY8Q" x="-19" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYB_rSUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYB_riUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYB_ryUEEeu7rMKxbWBY8Q" points="[6, 1, -174, -36]$[168, 1, -12, -36]$[168, 27, -12, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYB_sCUEEeu7rMKxbWBY8Q" id="(0.42468059273158754,0.2)"/>
    </edges>
    <edges xmi:id="_hYB_sSUEEeu7rMKxbWBY8Q" type="Transition" element="_hX9HISUEEeu7rMKxbWBY8Q" source="_hX6D3yUEEeu7rMKxbWBY8Q" target="_hX6D6yUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYB_siUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYB_syUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYB_tCUEEeu7rMKxbWBY8Q" x="3" y="-58"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYB_tSUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYB_tiUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <styles xsi:type="notation:StringValueStyle" xmi:id="_hYB_tyUEEeu7rMKxbWBY8Q" name="featureToShow" stringValue="specification"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYB_uCUEEeu7rMKxbWBY8Q" points="[69, 6, 61, -67]$[122, 6, 114, -67]$[122, 78, 114, 5]$[69, 78, 61, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYB_uSUEEeu7rMKxbWBY8Q" id="(0.6839592703992935,0.43636363636363634)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYB_uiUEEeu7rMKxbWBY8Q" id="(0.719721846629322,0.45454545454545453)"/>
    </edges>
    <edges xmi:id="_hYCmsCUEEeu7rMKxbWBY8Q" type="Transition" element="_hX9uMCUEEeu7rMKxbWBY8Q" source="_hX6D6yUEEeu7rMKxbWBY8Q" target="_hX6D3yUEEeu7rMKxbWBY8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hYCmsSUEEeu7rMKxbWBY8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hYCmsiUEEeu7rMKxbWBY8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hYCmsyUEEeu7rMKxbWBY8Q" x="19" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hYCmtCUEEeu7rMKxbWBY8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hYCmtSUEEeu7rMKxbWBY8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hYCmtiUEEeu7rMKxbWBY8Q" points="[-27, -1, -81, 74]$[-81, -1, -135, 74]$[-81, -73, -135, 2]$[-27, -73, -81, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYCmtyUEEeu7rMKxbWBY8Q" id="(0.12516901680509948,0.5636363636363636)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hYCmuCUEEeu7rMKxbWBY8Q" id="(0.37327188940092165,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
