<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="interface:&#xD;&#xA;&#xD;&#xA;in event evPresencia //Sensor de proximidad&#xD;&#xA;in event evInicioCarrera&#xD;&#xA;in event evFinalCarrera&#xD;&#xA;&#xD;&#xA;operation opMotor(movement: integer):void&#xD;&#xA;&#xD;&#xA;const MOTOR_STOP: integer = 0&#xD;&#xA;const MOTOR_MOVE_CW: integer = 1&#xD;&#xA;const MOTOR_MOVE_CCW: integer = -1&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;&#xD;&#xA;" name="model">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="Puerta">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_RgEi8B8mEeu8hJorO2-I3Q" specification="" target="_Ij7uYB8mEeu8hJorO2-I3Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ij7uYB8mEeu8hJorO2-I3Q" specification="entry/ opMotor(MOTOR_STOP)" name="CERRADA" incomingTransitions="_RgEi8B8mEeu8hJorO2-I3Q _r0huMB8mEeu8hJorO2-I3Q">
        <outgoingTransitions xmi:id="_aCFAQB8mEeu8hJorO2-I3Q" specification="evPresencia" target="_J1TPoB8mEeu8hJorO2-I3Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J1TPoB8mEeu8hJorO2-I3Q" specification="entry/ opMotor(MOTOR_MOVE_CW)" name="ABRIENDO" incomingTransitions="_aCFAQB8mEeu8hJorO2-I3Q _IAAT8B_AEeuPYqCQLYvoog">
        <outgoingTransitions xmi:id="_cBfTQB8mEeu8hJorO2-I3Q" specification="evFinalCarrera" target="_Mgu7IB8mEeu8hJorO2-I3Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KmKE0B8mEeu8hJorO2-I3Q" specification="entry/ opMotor(MOTOR_MOVE_CCW)" name="CERRANDO" incomingTransitions="_eIQygB8mEeu8hJorO2-I3Q">
        <outgoingTransitions xmi:id="_r0huMB8mEeu8hJorO2-I3Q" specification="evInicioCarrera" target="_Ij7uYB8mEeu8hJorO2-I3Q"/>
        <outgoingTransitions xmi:id="_HPutkB_AEeuPYqCQLYvoog" specification="evPresencia" target="_C-N1EB_AEeuPYqCQLYvoog"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Mgu7IB8mEeu8hJorO2-I3Q" specification="entry/ opMotor(MOTOR_STOP)" name="ABIERTA" incomingTransitions="_cBfTQB8mEeu8hJorO2-I3Q _P1KL8B-4EeuPYqCQLYvoog">
        <outgoingTransitions xmi:id="_eIQygB8mEeu8hJorO2-I3Q" specification="after 3000 ms" target="_KmKE0B8mEeu8hJorO2-I3Q"/>
        <outgoingTransitions xmi:id="_P1KL8B-4EeuPYqCQLYvoog" specification="evPresencia" target="_Mgu7IB8mEeu8hJorO2-I3Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_C-N1EB_AEeuPYqCQLYvoog" specification="entry/ opMotor(MOTOR_STOP)" name="PARADA" incomingTransitions="_HPutkB_AEeuPYqCQLYvoog">
        <outgoingTransitions xmi:id="_IAAT8B_AEeuPYqCQLYvoog" specification="after 500 ms" target="_J1TPoB8mEeu8hJorO2-I3Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xmi:id="_IPEiBI_CEeaE_NItBGtDFQ" type="Region" element="_IPEiA4_CEeaE_NItBGtDFQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPEiB4_CEeaE_NItBGtDFQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiCI_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiCY_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPEiCo_CEeaE_NItBGtDFQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_IPEiDo_CEeaE_NItBGtDFQ" type="Entry" element="_IPEiDY_CEeaE_NItBGtDFQ">
          <children xmi:id="_IPEiEY_CEeaE_NItBGtDFQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IPEiFI_CEeaE_NItBGtDFQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiFY_CEeaE_NItBGtDFQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiFo_CEeaE_NItBGtDFQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiEo_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiE4_CEeaE_NItBGtDFQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiD4_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiF4_CEeaE_NItBGtDFQ" x="274" y="-22" width="15" height="15"/>
        </children>
        <children xmi:id="_Ij-xsB8mEeu8hJorO2-I3Q" type="State" element="_Ij7uYB8mEeu8hJorO2-I3Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_IkAm4B8mEeu8hJorO2-I3Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IkAm4R8mEeu8hJorO2-I3Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_IkAm4h8mEeu8hJorO2-I3Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IkBN8B8mEeu8hJorO2-I3Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_IkBN8R8mEeu8hJorO2-I3Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IkBN8h8mEeu8hJorO2-I3Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IkB1AB8mEeu8hJorO2-I3Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ij-xsR8mEeu8hJorO2-I3Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ij-xsh8mEeu8hJorO2-I3Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IkB1AR8mEeu8hJorO2-I3Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ij-xsx8mEeu8hJorO2-I3Q" x="288" y="87"/>
        </children>
        <children xmi:id="_J1T2sB8mEeu8hJorO2-I3Q" type="State" element="_J1TPoB8mEeu8hJorO2-I3Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_J1T2tB8mEeu8hJorO2-I3Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J1T2tR8mEeu8hJorO2-I3Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J1T2th8mEeu8hJorO2-I3Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J1T2tx8mEeu8hJorO2-I3Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J1UdwB8mEeu8hJorO2-I3Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J1UdwR8mEeu8hJorO2-I3Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J1Udwh8mEeu8hJorO2-I3Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J1T2sR8mEeu8hJorO2-I3Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J1T2sh8mEeu8hJorO2-I3Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J1Udwx8mEeu8hJorO2-I3Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J1T2sx8mEeu8hJorO2-I3Q" x="4" y="227"/>
        </children>
        <children xmi:id="_KmKr4B8mEeu8hJorO2-I3Q" type="State" element="_KmKE0B8mEeu8hJorO2-I3Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_KmKr5B8mEeu8hJorO2-I3Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KmKr5R8mEeu8hJorO2-I3Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_KmKr5h8mEeu8hJorO2-I3Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KmKr5x8mEeu8hJorO2-I3Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KmKr6B8mEeu8hJorO2-I3Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KmKr6R8mEeu8hJorO2-I3Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KmKr6h8mEeu8hJorO2-I3Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KmKr4R8mEeu8hJorO2-I3Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KmKr4h8mEeu8hJorO2-I3Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KmKr6x8mEeu8hJorO2-I3Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KmKr4x8mEeu8hJorO2-I3Q" x="499" y="227"/>
        </children>
        <children xmi:id="_MgwJQB8mEeu8hJorO2-I3Q" type="State" element="_Mgu7IB8mEeu8hJorO2-I3Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_MgwJRB8mEeu8hJorO2-I3Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MgwJRR8mEeu8hJorO2-I3Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MgwJRh8mEeu8hJorO2-I3Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MgwJRx8mEeu8hJorO2-I3Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MgwJSB8mEeu8hJorO2-I3Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MgwJSR8mEeu8hJorO2-I3Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MgwwUB8mEeu8hJorO2-I3Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MgwJQR8mEeu8hJorO2-I3Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MgwJQh8mEeu8hJorO2-I3Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MgwwUR8mEeu8hJorO2-I3Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MgwJQx8mEeu8hJorO2-I3Q" x="288" y="387"/>
        </children>
        <children xmi:id="_C-RfcB_AEeuPYqCQLYvoog" type="State" element="_C-N1EB_AEeuPYqCQLYvoog">
          <children xsi:type="notation:DecorationNode" xmi:id="_C-StkB_AEeuPYqCQLYvoog" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_C-StkR_AEeuPYqCQLYvoog"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_C-Stkh_AEeuPYqCQLYvoog"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_C-T7sB_AEeuPYqCQLYvoog" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_C-T7sR_AEeuPYqCQLYvoog" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C-T7sh_AEeuPYqCQLYvoog"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_C-UiwB_AEeuPYqCQLYvoog" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_C-RfcR_AEeuPYqCQLYvoog" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_C-Rfch_AEeuPYqCQLYvoog"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_C-UiwR_AEeuPYqCQLYvoog" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C-Rfcx_AEeuPYqCQLYvoog" x="288" y="297"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiC4_CEeaE_NItBGtDFQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiBY_CEeaE_NItBGtDFQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiDI_CEeaE_NItBGtDFQ" x="255" y="15" width="798" height="586"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" x="-105" y="2" width="346" height="611"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <edges xmi:id="_RgGYIB8mEeu8hJorO2-I3Q" type="Transition" element="_RgEi8B8mEeu8hJorO2-I3Q" source="_IPEiDo_CEeaE_NItBGtDFQ" target="_Ij-xsB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_RgG_MR8mEeu8hJorO2-I3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RgG_Mh8mEeu8hJorO2-I3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RgHmQB8mEeu8hJorO2-I3Q" x="12" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RgGYIR8mEeu8hJorO2-I3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RgG_MB8mEeu8hJorO2-I3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RgGYIh8mEeu8hJorO2-I3Q" points="[0, 2, -22, -118]$[124, 2, 102, -118]$[124, 101, 102, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_R7QDEB8mEeu8hJorO2-I3Q" id="(0.8666666666666667,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RgJbcB8mEeu8hJorO2-I3Q" id="(0.024390243902439025,0.4150943396226416)"/>
    </edges>
    <edges xmi:id="_aCFnUB8mEeu8hJorO2-I3Q" type="Transition" element="_aCFAQB8mEeu8hJorO2-I3Q" source="_Ij-xsB8mEeu8hJorO2-I3Q" target="_J1T2sB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_aCGOYR8mEeu8hJorO2-I3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aCGOYh8mEeu8hJorO2-I3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aCGOYx8mEeu8hJorO2-I3Q" x="-19" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aCFnUR8mEeu8hJorO2-I3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aCGOYB8mEeu8hJorO2-I3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aCFnUh8mEeu8hJorO2-I3Q" points="[-18, -10, 176, -145]$[-194, -10, 0, -145]$[-194, 111, 0, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aCHcgB8mEeu8hJorO2-I3Q" id="(0.08536585365853659,0.6981132075471698)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VLKpwB8oEeu8hJorO2-I3Q" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_cBf6UB8mEeu8hJorO2-I3Q" type="Transition" element="_cBfTQB8mEeu8hJorO2-I3Q" source="_J1T2sB8mEeu8hJorO2-I3Q" target="_MgwJQB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_cBf6VB8mEeu8hJorO2-I3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cBf6VR8mEeu8hJorO2-I3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cBf6Vh8mEeu8hJorO2-I3Q" x="36" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cBf6UR8mEeu8hJorO2-I3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cBf6Ux8mEeu8hJorO2-I3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cBf6Uh8mEeu8hJorO2-I3Q" points="[-34, 5, -182, -135]$[-34, 137, -182, -3]$[146, 137, -2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cBhvgB8mEeu8hJorO2-I3Q" id="(0.6222222222222222,0.9056603773584907)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cBhvgR8mEeu8hJorO2-I3Q" id="(0.012987012987012988,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_eIRZkB8mEeu8hJorO2-I3Q" type="Transition" element="_eIQygB8mEeu8hJorO2-I3Q" source="_MgwJQB8mEeu8hJorO2-I3Q" target="_KmKr4B8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_eIRZlB8mEeu8hJorO2-I3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eIRZlR8mEeu8hJorO2-I3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eISAoB8mEeu8hJorO2-I3Q" x="-20" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eIRZkR8mEeu8hJorO2-I3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eIRZkx8mEeu8hJorO2-I3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eIRZkh8mEeu8hJorO2-I3Q" points="[12, -2, -92, 141]$[134, -2, 30, 141]$[134, -136, 30, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eIT10B8mEeu8hJorO2-I3Q" id="(0.948051948051948,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eIT10R8mEeu8hJorO2-I3Q" id="(0.3763440860215054,0.8679245283018867)"/>
    </edges>
    <edges xmi:id="_r0iVQB8mEeu8hJorO2-I3Q" type="Transition" element="_r0huMB8mEeu8hJorO2-I3Q" source="_KmKr4B8mEeu8hJorO2-I3Q" target="_Ij-xsB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r0i8Ux8mEeu8hJorO2-I3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r0i8VB8mEeu8hJorO2-I3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r0i8VR8mEeu8hJorO2-I3Q" x="30" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r0i8UB8mEeu8hJorO2-I3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r0i8Uh8mEeu8hJorO2-I3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r0i8UR8mEeu8hJorO2-I3Q" points="[86, -3, 125, 111]$[86, -121, 125, -7]$[-28, -121, 11, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r0kKcB8mEeu8hJorO2-I3Q" id="(0.1935483870967742,0.07547169811320754)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r0kxgB8mEeu8hJorO2-I3Q" id="(0.9512195121951218,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_P1QSkB-4EeuPYqCQLYvoog" type="Transition" element="_P1KL8B-4EeuPYqCQLYvoog" source="_MgwJQB8mEeu8hJorO2-I3Q" target="_MgwJQB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_P1T88B-4EeuPYqCQLYvoog" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P1T88R-4EeuPYqCQLYvoog"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P1T88h-4EeuPYqCQLYvoog" x="-86" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P1QSkR-4EeuPYqCQLYvoog" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P1SHwB-4EeuPYqCQLYvoog" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P1QSkh-4EeuPYqCQLYvoog" points="[22, 3, 43, 24]$[22, 70, 43, 91]$[-68, 70, -47, 91]$[-68, 3, -47, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P1aqoB-4EeuPYqCQLYvoog" id="(0.6018099547511312,0.9433962264150942)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3IzGQB-_EeuPYqCQLYvoog" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_HPv7sB_AEeuPYqCQLYvoog" type="Transition" element="_HPutkB_AEeuPYqCQLYvoog" source="_KmKr4B8mEeu8hJorO2-I3Q" target="_C-RfcB_AEeuPYqCQLYvoog">
      <children xsi:type="notation:DecorationNode" xmi:id="_HPwiwB_AEeuPYqCQLYvoog" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HPwiwR_AEeuPYqCQLYvoog"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HPwiwh_AEeuPYqCQLYvoog" x="-18" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HPv7sR_AEeuPYqCQLYvoog" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HPv7sx_AEeuPYqCQLYvoog" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HPv7sh_AEeuPYqCQLYvoog" points="[0, 0, 25, -74]$[-45, 0, -20, -74]$[-45, 52, -20, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HPy_AB_AEeuPYqCQLYvoog" id="(0.0,0.37735849056603776)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HPy_AR_AEeuPYqCQLYvoog" id="(0.864864864864865,0.4716981132075471)"/>
    </edges>
    <edges xmi:id="_IAA7AB_AEeuPYqCQLYvoog" type="Transition" element="_IAAT8B_AEeuPYqCQLYvoog" source="_C-RfcB_AEeuPYqCQLYvoog" target="_J1T2sB8mEeu8hJorO2-I3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_IAA7BB_AEeuPYqCQLYvoog" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IAA7BR_AEeuPYqCQLYvoog"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IAA7Bh_AEeuPYqCQLYvoog" x="17" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IAA7AR_AEeuPYqCQLYvoog" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IAA7Ax_AEeuPYqCQLYvoog" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IAA7Ah_AEeuPYqCQLYvoog" points="[44, -21, 95, 47]$[44, -68, 95, 0]$[-37, -68, 14, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IACwMB_AEeuPYqCQLYvoog" id="(0.013513513513513516,0.45283018867924535)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IACwMR_AEeuPYqCQLYvoog" id="(0.9448818897637795,0.49056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
